h1 {
    text-align: center;
    font-style: bold;
    color: white;
    margin: auto;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-color: #001e38;
    display: flex;
}
img {
    width: 100px;
}
.memory-game {
    /* border: 2px solid lime; */
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
}
.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.backFace, .frontFace {
    position: absolute;
    /* border: 2px solid deeppink; */
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background: tan;
}

/* .backFace {
    width: 100%;
    position: absolute;
    border: 2px solid deeppink;
} */